 {% extends 'partials/navbar.html' %}
 {% load bootstrap4 %}
 {% load crispy_forms_tags %}
 
 {% block content_top%}
<div class="container">
	<h1>{{title}}</h1>
  <ul>
{% endblock%}

{% block content %}
<div class="row">
  <div class="col-4"></div>
  <div class="col-5">
    <form action="" method="post" >
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-secondary mt-3" type="submit">Sent</button>
      <button class="btn btn-secondary mt-3" type="reset">Clear</button>
    </form>
  </div>
</div>
{% endblock %}

{% block content_bottom%}
</div>
</div>
 {% endblock%}

