{% extends 'partials/navbar.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content_top%}
<div class="container">
   <h1>{{title}}</h1>
 <ul>
{% endblock%}

{% block content %}
<div class="my-2 my-sm-3 my-lg-4">
    <div class="card">
      <div class="modal-body">
        <div class="text-center">
          <i class="text-primary"></i>
          <p>
            <strong>If you have questions, write us</strong>
          </p>
        </div>
       
          <!-- Message input -->
          <div class="form-outline mb-4">
            <textarea class="form-control" id="form4Example3" rows="4"></textarea>
          </div>
        </form>
      </div>
      <div class="card-footer text-end ">
        <form action="#" method="post">
          {% csrf_token %}
        <button type="submit" class="btn btn-secondary" name="reviewbtn">Submit</button>
      </div>
    </div>
  </div>

    

{% endblock %}

{% block content_bottom%}
</div>
</div>
{% endblock%}