 {% extends 'partials/navbar.html' %}
 {% load bootstrap4 %}
 {% load crispy_forms_tags %}
 
 {% block content_top%}
<div class="container">
	<h1>{{title}}</h1>
  <ul>
{% endblock%}

{% block content %}
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary" type="submit">Sent</button>
      <button class="btn btn-primary" type="reset">Clear</button>
    </form>
  </div>
</div>
{% for r in rewiews %}
  <div class="row">
    <div class="col-4"></div>
    <div class="card text-left col-4 mt-3">
      <div class="card-body">
        <p class="card-text">T{{ r.text }}</p>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}

{% block content_bottom%}
</div>
</div>
 {% endblock%}

