 {% extends 'partials/navbar.html' %}
 {% block content_top%}
<div class="container">
  <h1>{{title}}</h1>
{% endblock%}

 {% block content%}
<div class="container">
	<h1>{{title}}</h1>
   <ul>
    {% if messages %}
       <p>System message:</p>
      {% for message in messages %}
        <li> {{message}} </li>
      {% endfor %}
    {% endif %}
   </ul>
	<div class="row">
    <p class="fs-2"> WELCOME TO THE ADMIN PART OF OUR HOTEL WEBSITE</p>
<div class="blocks row justify-content-center my-2 my-sm-3 my-lg-4">
  <p class="fs-3"> <a href="/staff/reviews"> Reviews </a></p>
  <p class="fs-3"> <a href="/staff/bookings"> Bookings</a></p>
    <p class="fs-3"> <a href="/staff/inquiries"> Inquiries</a></p>
  </div>
	</div>
</div>
 {% endblock%}